.selector-for-some-widget {
  box-sizing: content-box;
}

    html, body  {
  height: 100%;
}
.content-row {
  height: 100%;
  font-family: 'Righteous', cursive;
    font-size: 20px;
}
.container-fluid{
  height: 100%;
  background-color: rgb(152, 224, 230);
  font-family: 'Righteous', cursive;

}

.hide {
  display: none;
}

.city-btn:hover {
  background-color: rgb(152, 224, 230);
  cursor: pointer;
}

.card {
  background-color: #b7c9d1;
}

p{ font-family: 'Righteous', cursive; }


    



